@charset "utf-8";
/* 메인 CSS - main.css */

/* 헤더 */
#wrap {
  width: 1060px;
  height: 3200px;
  background-color: black;
  margin: auto;
}
.headerTop {
  height: 512px;
  margin: 0 auto; /* 마영오 */
  background-color: rgb(236, 166, 166);
  overflow: hidden;
}

/* 로고박스 */
.logowrap {
  width: 300px;
  height: 100px;
  margin-top: 300px;
  position: absolute;
}

.logo {
  margin: auto;
  width: 250px;
  height: 100px;
  color: blueviolet;
}

/* 네비게이션 부모*/
.navwrap {
  width: 1060px;
  height: 100px;
  background-color: rgb(120, 120, 231);
  float: left;
  margin-top: 412px;
  display: inline;
  position: absolute;
}

/*로그인창*/
.sign {
  right: 200px;
  top: 300px;
  position: absolute;
  display: inline-block;
}

.navwrap ul {
  margin-left: 10px;
}

.navwrap ul li {
  float: left;
  margin-top: 20px;
  margin-right: 50px;
  list-style: none;
  font-family: cursive;
  font-size: 20px;
  color: white;
}
